# version: '3.8'

# services:
#   backend:
#     build: ./backend
#     container_name: backend_container
#     expose:
#       - "8000"
#     restart: always
#     env_file:
#       - ./.env
#     environment:
#       - PYTHONUNBUFFERED=1
#     shm_size: 2gb
#     networks:
#       - queue-net
#     depends_on:
#       - inscriber

#   inscriber:
#     build: ./inscribing_proj
#     container_name: inscriber_container
#     expose:
#       - "8002"
#     restart: always
#     env_file:
#       - ./.env
#     environment:
#       - PYTHONUNBUFFERED=1
#     shm_size: 2gb
#     networks:
#       - queue-net

#   frontend:
#     build: ./frontend
#     container_name: frontend_container
#     expose:
#       - "80"
#     restart: always
#     networks:
#       - queue-net
#     environment:
#       - VITE_API_URL=https://map.uxlivinglab.online/api

#   nginx:
#     build:
#       context: ./nginx
#       dockerfile: Dockerfile
#     container_name: nginx
#     ports:
#       - "80:80"
#       - "443:443"
#     volumes:
#       - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
#       - /etc/letsencrypt/live/map.uxlivinglab.online/fullchain.pem:/etc/letsencrypt/live/map.uxlivinglab.online/fullchain.pem:ro
#       - /etc/letsencrypt/live/map.uxlivinglab.online/privkey.pem:/etc/letsencrypt/live/map.uxlivinglab.online/privkey.pem:ro
#       - ./frontend:/home/SamantaScraper/frontend:ro
#     restart: always
#     depends_on:
#       - backend
#       - frontend
#     networks:
#       - queue-net

# networks:
#   queue-net:
#     driver: bridge

# version: '3.8'

# services:
#   backend:
#     build: ./backend
#     container_name: backend_container
#     expose:
#       - "8000"
#     restart: unless-stopped
#     env_file:
#       - ./.env
#     environment:
#       - PYTHONUNBUFFERED=1
#     shm_size: 2gb
#     networks:
#       - queue-net
#     depends_on:
#       - inscriber
#     # optional for local dev hot reload
#     # volumes:
#     #   - ./backend:/usr/src/app:cached

#   inscriber:
#     build: ./inscribing_proj
#     container_name: inscriber_container
#     expose:
#       - "8002"
#     restart: unless-stopped
#     env_file:
#       - ./.env
#     environment:
#       - PYTHONUNBUFFERED=1
#     shm_size: 2gb
#     networks:
#       - queue-net
#     command: python manage.py runserver 0.0.0.0:8002
#     # optional for local dev hot reload
#     # volumes:
#     #   - ./inscribing_proj:/usr/src/app:cached

#   frontend:
#     build: ./frontend
#     container_name: frontend_container
#     expose:
#       - "80"
#     restart: unless-stopped
#     networks:
#       - queue-net
#     environment:
#       - VITE_API_URL=https://map.uxlivinglab.online/api

#   nginx:
#     build:
#       context: ./nginx
#       dockerfile: Dockerfile
#     container_name: nginx
#     ports:
#       - "80:80"
#       - "443:443"
#     volumes:
#       - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
#       # - /etc/letsencrypt/live/map.uxlivinglab.online/fullchain.pem:/etc/letsencrypt/live/map.uxlivinglab.online/fullchain.pem:ro
#       # - /etc/letsencrypt/live/map.uxlivinglab.online/privkey.pem:/etc/letsencrypt/live/map.uxlivinglab.online/privkey.pem:ro
#       - ./frontend:/home/SamantaScraper/frontend:ro
#     restart: unless-stopped
#     depends_on:
#       - backend
#       - frontend
#     networks:
#       - queue-net

# networks:
#   queue-net:
#     driver: bridge

version: '3.8'

services:
  backend:
    build: ./backend
    container_name: backend_container
    expose:
      - "8000"
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      - PYTHONUNBUFFERED=1
      - INSCRIBER_URL=http://inscriber:8002/api/geo-query-cube/
      - CRUD_BASE_URL=https://datacube.uxlivinglab.online/
      - CRUD_COORDS_PATH=/api/crud
      - CRUD_RESULTS_PATH=/api/crud
      - CRUD_API_KEY=sk_test_lbV1EV3-mQJ5VKlDzJHHa0xywsdEZGhAFPk6EPwce8k
      - DATABASE_ID=690346e64b13cf4d1be78d89
    shm_size: 2gb
    networks:
      - queue-net
    depends_on:
      - inscriber
    # optional for local dev hot reload
    # volumes:
    #   - ./backend:/usr/src/app:cached

  inscriber:
    build: ./inscribing_proj
    container_name: inscriber_container
    expose:
      - "8002"
    restart: unless-stopped
    env_file:
      - ./.env
    environment:
      PYTHONUNBUFFERED: 1
      shm_size: 2gb
    networks:
      - queue-net
    command: python manage.py runserver 0.0.0.0:8002
    # optional for local dev hot reload
    # volumes:
    #   - ./inscribing_proj:/usr/src/app:cached


  frontend:
    build: ./frontend
    container_name: frontend_container
    # restart: unless-stopped
    networks:
      - queue-net
    environment:
      - VITE_API_URL=https://map.uxlivinglab.online/api
    command: sh -c "npm install && npm run build && tail -f /dev/null"  # build frontend
    volumes:
      - frontend_build:/usr/src/app/dist  # share dist folder
    # command: sh -c "npm install && npm run build"

  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: nginx_scraper
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - frontend_build:/usr/share/nginx/html:ro
      # - ./frontend/dist:/usr/share/nginx/html:ro
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      # - ./frontend/dist:/home/SamantaScraper/frontend/dist:ro   # point to built files
      - /etc/letsencrypt/live/map.uxlivinglab.online/fullchain.pem:/etc/letsencrypt/live/map.uxlivinglab.online/fullchain.pem:ro
      - /etc/letsencrypt/live/map.uxlivinglab.online/privkey.pem:/etc/letsencrypt/live/map.uxlivinglab.online/privkey.pem:ro
    restart: unless-stopped
    depends_on:
      - backend
      - frontend
    networks:
      - queue-net

networks:
  queue-net:
    driver: bridge

volumes:
  frontend_build:

